<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a id="logo" href="<%= root_path %>">
            <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
            Sensus
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%= root_path %>">
            <i class="glyphicon glyphicon-home" aria-hidden="true"></i> Inicio
          </a>
        </li>
        <li>
          <a href="<%= help_path %>">
            <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> Ayuda
          </a>
        </li>
        <% if logged_in? %>
          <li>
            <a href="#" class="no-link">
              |
            </a>
          </li>
          <li>
            <a href="<%= data_path %>">
              <i class="glyphicon glyphicon-upload" aria-hidden="true"></i> Datos
            </a>
          </li>
          <li>
            <a href="<%= training_path %>">
              <i class="glyphicon glyphicon-tags" aria-hidden="true"></i> Entrenamiento
            </a>
          </li>
          <li>
            <a href="<%= results_path %>">
              <i class="glyphicon glyphicon-stats" aria-hidden="true"></i> Resultados
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="<%= user_path(current_user) %>">
                  <i class="glyphicon glyphicon-user" aria-hidden="true"></i> Perfil
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a data-method="delete" href="<%= logout_path %>" rel="nofollow">
                  <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Iniciar Sesión", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>